[Unit]
Description=Doorwoman RFID unlocker ACL Updater Timer

[Timer]
OnBootSec=5min
OnUnitActiveSec=60min
Unit=doorwoman-updater.service

[Install]
WantedBy=multi-user.target
