{
	"emailfrom": "access@yourdomain.com",
	"emailto": "you@yourdomain.com",
	"#": "Leave emailserver blank and no emails will be sent",
	"emailserver": "",
	"emailport": 25,
	"maindoor": {
		"unlock_value": 1,
		"open_delay": 3,
		"latch_gpio": 25,
		"d0": 17,
		"d1": 27,
		"beep": 24,
		"green": 23
	}
}
